body {
  margin: 0px;
  background-color: #130217; /* #480E61; */
}

h3 {
  color: #ffffff;
}

/*
 *
 * Game Elements
 *
 */

.game_panel {
  border: 1px solid #ffffff;
  /* width: 400px; */
  height: 600px;
  margin-left: 4px;
  margin: 0 auto;
}

.game_panel_messages {
  /* width: 400px; */
  height: 400px;
}

.game_panel_exceptions {
  /* width: 400px; */
  height: 180px;
}

.messages {
  background-color: #222222;
  overflow: auto;
}

.game_messages {
  text-align: left;
  padding: 10px;
}

.game_messages_log {
  color: #F8F8F8;
}

.game_messages_exception {
  font-weight: bold;
  color: #F8080B;
}

/*
 *
 * Game UI
 *
 */

.game_ui {
  background-color: #222222;
  color: #ffffff;
  border: 1px solid #ffffff;
  height: 600px;
  overflow-y: scroll;
  padding: 0 5px 0 5px;
}

.game_ui * {
  color: #ffffff;
  text-align: left;
}

.game_ui input {
  color: #000000;
}

.game_ui_title {
  font-size: 16px;
  font-weight: bold;
}

.checkbox {
  color: #000000;
  font-size: 14px;
}

.checkbox-white div {
  color: #ffffff;
  font-size: 16px;
}